{% extends "base.html" %}

{% block title %}TLDR News{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for article in articles %}
            <!-- Article Card -->
            <div id="articles-container" class="column is-full">
                <div class="card m-1" data-guid="{{ article.guid }}" data-added-date="{{ article.added_date }}">
                    <div class="card-content">
                        <div class="media">
                            <!-- Image on the left -->
                            <div class="media-left">
                                <figure class="image is-96x96"> <!-- Adjust size as needed -->
                                    <img src="{{ article.image }}" alt="Article image" style="object-fit: cover;">
                                </figure>
                            </div>
                            <!-- Content on the right -->
                            <div class="media-content">
                                <p class="title is-4">{{ article.title.upper() }} </p>
                                <p class="subtitle is-6">by: {{ article.author }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ article.synopsis }}
                            <br>
                            Published: <time datetime="{{ article.published_date }}">{{ article.published_date }}</time>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ article.url }}"  target= "_blank" class="card-footer-item">Read More</a>
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Share</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

