{% extends "base.html" %}

{% block title %}TLDR News{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for article in articles %}
            <div id="article-container" class="column is-full">
                <div class="card m-1" data-guid="{{ article.guid }}" data-added-date="{{ article.added_date }}">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96"> 
                                    <img src="{{ article.image }}" alt="Article image" style="object-fit: cover;">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ article.title.upper() }} </p>
                                <div class="block">
                                    {% if article.author %}
                                        <span class="has-text-weight-medium">Written By:</span> {{ article.author }}
                                    {% endif %}
                                    {% if article.published_date %}
                                        <span class="has-text-weight-medium	">On: </span><time datetime="{{ article.published_date }}">{{ article.published_date|datetimefmt }}</time>
                                    {% endif %}
                                </div>
                                {% if article.category %}
                                        <span class="tag is-link">{{ article.category.name }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content">
                            {{ article.synopsis }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ article.url }}"  target= "_blank" class="card-footer-item">Read More</a>
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Share</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

