{% extends "base.html" %}

{% block title %}Saved{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile">
            <div class="column">
                <h1 class="title">Saved Articles</h1>
              </div>
            <div class="column is-one-quarter">
                <div class="select is-rounded">
                    <form method="GET" action="{{ url_for('saved_articles')}}">
                        <select name="per_page" onchange="this.form.submit()">
                            <option value="" selected disabled>Items Per Page</option>
                            <option value="5" {% if pagination.per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if pagination.per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if pagination.per_page == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if pagination.per_page == 50 %}selected{% endif %}>50</option>
                        </select>
                    </form>
                </div>
            </div>
          </div>
        <div class="columns is-multiline">
            {% for article in articles %}
            <div id="article-container" class="column is-full">
                <div class="card m-1" data-id="{{ article.id }}" data-added-date="{{ article.added_date }}">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96"> 
                                    <img src="{{ article.image }}" alt="Article image" style="object-fit: cover;">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ article.title.upper() }} </p>
                                <div class="block">
                                    {% if article.author %}
                                        <span class="has-text-weight-medium">Written By:</span> {{ article.author }}
                                    {% endif %}
                                    {% if article.published_date %}
                                        <span class="has-text-weight-medium">On: </span><time datetime="{{ article.published_date }}">{{ article.published_date|datetimefmt }}</time>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            {{ article.synopsis }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ article.url }}"  target= "_blank" class="card-footer-item">Read More</a>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('save_article', article_id=article.id) }}" data-id="{{ article.id }}"
                                {% if article.id in favorite_article_ids %}
                                    class="card-footer-item has-background-primary has-text-white">
                                    Saved
                                {% else %}
                                    class="card-footer-item">
                                    Save for Later
                                {% endif %}  
                            </a>
                        {% endif %}                        
                        <a href="#" class="card-footer-item">Share</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination Controls -->
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if pagination.has_prev %}
                <a class="pagination-previous" href="{{ url_for('saved_articles', page=pagination.prev_num, per_page=pagination.per_page) }}">Previous</a>
            {% endif %}
            {% if pagination.has_next %}
                <a class="pagination-next" href="{{ url_for('saved_articles', page=pagination.next_num, per_page=pagination.per_page) }}">Next</a>
            {% endif %}
            <ul class="pagination-list">
                {% for page in pagination.iter_pages() %}
                <li>
                    <a class="pagination-link{% if page == pagination.page %} is-current{% endif %}" href="{{ url_for('saved_articles', page=page) }}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
